@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-size: 24px;
    color: #F9FAF8;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 300;
    font-size: 18px;
    color: #E5E7EB;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-size: 18px;
    color: #F9FAF8;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font-size: 36px;
    color: #1F2937;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 900;
    font-size: 18px;
    color: #1F2937;
}
/*Body Content Specifications*/
body {
    font-weight: 300;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #F9FAF8;
    margin: 0px;
}
/*URL Link Specifications*/
a {
    text-decoration: none;
}
a:link, a:visited {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #E5E7EB;
}
#button1 a:link, a:visited {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #F9FAF8
}
#button2 a:link, a:visited {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #F9FAF8;
}
/*Items in divisions*/
.item1-1 {
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #F9FAF8;
}
.item1-2 {
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #E5E7EB;
    display: inline-flex;
    gap: 50px;
}
.item1-3 {
    flex-direction: column;
    text-align: left;
    margin-left: 120px;
    margin-right: 40px;
}
.item1-4 {
    flex-grow: 1;
    margin-right: 100px;
}
.item2-1 { 
    flex-direction: row;
    height: 140px;
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
    vertical-align: middle;
    line-height: 140px;
}
.item2-2 {
   display: flex;
   flex-direction: row;
   gap: 50px;
}
.item2-2 .row1 {
   height: 180px;
   width: 170px;
   border-radius: 25px;
   border: 5px solid #3882f6;
}
.item2-2 .row2 {
    height: 50px;
    width: 170px;
    font-size: 18px;
    color: #6e737d;
    border-radius: 25px;
    border-top: 5px solid transparent;
    border-bottom: 150px solid #F9FAF8;
    text-align: center;
}
.item3 {   
    height: auto;
    margin: 150px 240px 70px 240px;
    border-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}
.item4-1{
    display: flex;
    flex-direction: column;
}
.item4-1 .row {
    align-items: center;
    text-align: left;
}
.item4-2 {  
    justify-content: center;
    align-items: center;
}
/*Divisions*/
.container1-1 {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container1-2 {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    border-top: 50px solid #1F2937;
    border-bottom: 100px solid #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container2 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container3 {
    background-color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4 {
    background-color: #3882f6;
    height: 120px;
    width: 900px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 180px;  
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer {
    clear: both;
    position: relative;
    height: 90px;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#button1 {
    font-family: 'Roboto', sans-serif;
    width: 140px;
    height: 40px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: right;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
#button2 {
    font-family: 'Roboto', sans-serif;
    width: 140px;
    height: 40px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border: 2px solid #F9FAF8;
}
#push-right {
    margin-left: auto;
}
#push-left { 
    margin-right: 100px;
}
#main {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}
#placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #6e737d;
    height: 200px;
    width: 550px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}
#quote {
    font-weight: normal;
    font-size: 36px;
    color: #1F2937;
    text-align: left;
}
#quotedby {
    font-weight: 900;
    font-size: 18px;
    color: #1F2937;
    text-align: right;
}
#action {
    font-size: 24px;
    color: #F9FAF8;
}